<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="id.pamoyanan_dev.f_catlist">

    <dist:module
            dist:instant="false"
            dist:onDemand="true"
            dist:title="@string/title_f_catlist">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application>
        <activity android:name=".CatListActivity">
        </activity>
    </application>

</manifest>